In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#load the team related datasets into the notebook and save them as dataframes
def country_df(csv):
  df = pd.read_csv(csv)
  df.sort_values('HomeTeam', inplace=True)
  df.reset_index(inplace=True)
  df.drop("index", axis =1 , inplace=True)

  return df

df_france = country_df('FootballData/F1.csv')
df_spain  = country_df('FootballData/SP1.csv')
df_england  = country_df('FootballData/E0.csv')
df_championship  = country_df('FootballData/E1.csv')
#df_finland  = country_df('/content/drive/MyDrive/FootballData/FIN.csv')
#df_germany = country_df('FootballData/D1.csv')
df_england_22 = country_df('FootballData/E0_22.csv')
df_spa_22 = country_df('FootballData/SP1_22.csv')
#df_jpn = country_df('FootballData/JPN.csv')
df_ita = country_df('FootballData/I1.csv')
df_E1 = country_df('FootballData/E1.csv')
df_E2 = country_df('FootballData/E2.csv')
df_E3 = country_df('FootballData/E3.csv')
df_EC = country_df('FootballData/EC.csv')
df_F2 = country_df('FootballData/F2.csv')
df_I2 = country_df('FootballData/I2.csv')
df_dataE0 = country_df('FootballData/data (9)/E0.csv')
df_dataE1 = country_df('FootballData/data (9)/E1.csv')
df_dataE2 = country_df('FootballData/data (9)/E2.csv')
df_dataE3 = country_df('FootballData/data (9)/E3.csv')
df_dataEC = country_df('FootballData/data (9)/EC.csv')
df_dataF2 = country_df('FootballData/data (9)/F2.csv')
df_dataG1 = country_df('FootballData/data (9)/G1.csv')
df_dataN1 = country_df('FootballData/data (9)/N1.csv')
df_dataP1 = country_df('FootballData/data (9)/P1.csv')
df_dataSC0 = country_df('FootballData/data (9)/SC0.csv')
df_dataSC1 = country_df('FootballData/data (9)/SC1.csv')
df_dataSC2 = country_df('FootballData/data (9)/SC2.csv')
df_dataSC3 = country_df('FootballData/data (9)/SC3.csv')
df_dataSP2 = country_df('FootballData/data (9)/SP2.csv')
df_dataSP1 = country_df('FootballData/data (9)/SP1.csv')
df_dataT1 = country_df('FootballData/data (9)/T1.csv')

df_data8E0 = country_df('FootballData/data (8)/E0.csv')
df_data8E1 = country_df('FootballData/data (8)/E1.csv')
df_data8E2 = country_df('FootballData/data (8)/E2.csv')
df_data8E3 = country_df('FootballData/data (8)/E3.csv')
df_data8EC = country_df('FootballData/data (8)/EC.csv')
#df_data8F2 = country_df('FootballData/data (8)/F2.csv')
df_data8G1 = country_df('FootballData/data (8)/G1.csv')
#df_data8N1 = country_df('FootballData/data (8)/N1.csv')
#df_data8P1 = country_df('FootballData/data (8)/P1.csv')
df_data8SC0 = country_df('FootballData/data (8)/SC0.csv')
df_data8SC1 = country_df('FootballData/data (8)/SC1.csv')
df_data8SC2 = country_df('FootballData/data (8)/SC2.csv')
df_data8SC3 = country_df('FootballData/data (8)/SC3.csv')
#df_data8SP2 = country_df('FootballData/data (8)/SP2.csv')
df_data8SP1 = country_df('FootballData/data (8)/SP1.csv')
df_data8T1 = country_df('FootballData/data (8)/T1.csv')
df_B1 = country_df('FootballData/B1.csv')



data = pd.concat([df_france, df_spain, df_england, df_championship, df_england_22, df_spa_22, df_ita,df_E1,df_E2,df_E3,df_EC,df_F2,df_I2,df_dataE0,df_dataE1,df_dataE2,df_dataE3,df_dataEC,df_dataF2,df_dataG1,df_dataN1,df_dataP1,df_dataSC0,df_dataSC1,df_dataSC2,df_dataSC3,df_dataSP1,df_dataSP2,df_dataT1,
                  df_data8E0,df_data8E1,df_data8E2,df_data8E3,df_data8EC,df_data8G1,df_data8SC0,df_data8SC1,df_data8SC2,df_data8SC3,df_data8SP1,df_data8T1], sort = False)

In [3]:
data.shape

(15744, 139)

In [4]:
data.isna().sum()

Div             0
Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
            ...
AvgCAHH     14984
AvgCAHA     14984
BSH          5823
BSD          5823
BSA          5823
Length: 139, dtype: int64

In [5]:
data.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HY,AY,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BSH,BSD,BSA
count,15744.000000,15744.000000,15743.000000,15743.000000,11327.000000,11327.000000,11327.000000,11327.000000,11342.000000,11342.000000,...,759.000000,760.000000,760.000000,760.000000,760.000000,760.000000,760.000000,9921.000000,9921.000000,9921.000000
mean,1.437500,1.100356,0.643079,0.479896,12.011654,9.577911,5.742827,4.544010,1.448774,1.818815,...,1.957036,1.962368,1.967145,2.021408,2.027342,1.936118,1.940961,2.287810,3.413472,3.787174
std,1.219339,1.066113,0.803825,0.689384,4.622596,4.110183,2.974402,2.615035,1.250896,1.364154,...,0.099912,0.104936,0.104870,0.104814,0.109980,0.094286,0.093737,0.989092,0.486010,2.086802
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.580000,1.710000,1.610000,1.810000,1.650000,1.730000,1.600000,1.080000,2.620000,1.050000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,7.000000,4.000000,3.000000,0.000000,1.000000,...,1.880000,1.880000,1.880000,1.940000,1.940000,1.860000,1.860000,1.730000,3.250000,2.600000
50%,1.000000,1.000000,0.000000,0.000000,12.000000,9.000000,5.000000,4.000000,1.000000,2.000000,...,1.960000,1.960000,1.960000,2.015000,2.020000,1.935000,1.940000,2.100000,3.250000,3.200000
75%,2.000000,2.000000,1.000000,1.000000,15.000000,12.000000,7.000000,6.000000,2.000000,3.000000,...,2.040000,2.040000,2.050000,2.102500,2.110000,2.010000,2.020000,2.500000,3.500000,4.330000
max,9.000000,9.000000,6.000000,5.000000,44.000000,33.000000,24.000000,18.000000,8.000000,9.000000,...,2.200000,2.480000,2.270000,2.520000,2.310000,2.420000,2.200000,23.000000,9.000000,23.000000

In [6]:
data = data[["FTHG","FTAG","FTR","B365H","B365D","B365A"]]

In [7]:
data.shape

(15744, 6)

In [8]:
data.head()

   FTHG  FTAG FTR  B365H  B365D  B365A
0     1     3   A    5.0   3.30   1.61
1     1     0   H    3.0   2.87   2.30
2     1     0   H    2.2   2.75   3.40
3     0     0   D    1.9   2.87   4.20
4     3     1   H    2.4   3.00   2.70

In [9]:
data.isna().sum()

FTHG      0
FTAG      0
FTR       0
B365H    27
B365D    27
B365A    27
dtype: int64

In [10]:
data.loc[data.isnull().any(axis=1)]

     FTHG  FTAG FTR  B365H  B365D  B365A
62      2     1   H    NaN    NaN    NaN
264     4     0   H    NaN    NaN    NaN
139     1     0   H    NaN    NaN    NaN
84      2     2   D    NaN    NaN    NaN
346     1     2   A    NaN    NaN    NaN
384     2     1   H    NaN    NaN    NaN
5       4     0   H    NaN    NaN    NaN
34      0     0   D    NaN    NaN    NaN
96      4     2   H    NaN    NaN    NaN
119     3     0   H    NaN    NaN    NaN
218     1     0   H    NaN    NaN    NaN
294     1     0   H    NaN    NaN    NaN
461     1     2   A    NaN    NaN    NaN
462     0     3   A    NaN    NaN    NaN
464     0     2   A    NaN    NaN    NaN
476     0     4   A    NaN    NaN    NaN
478     0     5   A    NaN    NaN    NaN
479     0     2   A    NaN    NaN    NaN
481     1     1   D    NaN    NaN    NaN
507     2     0   H    NaN    NaN    NaN
546     2     0   H    NaN    NaN    NaN
195     1     3   A    NaN    NaN    NaN
197     2     1   H    NaN    NaN    NaN
212     1     1   D    NaN    NaN    NaN
203     3     0   H    NaN    NaN    NaN
218     2     0   H    NaN    NaN    NaN
239     1     1   D    NaN    NaN    NaN

In [11]:
# Create a boolean mask for rows with NaN values
mask = data.isnull().any(axis=1)

# Delete rows using the mask
data = data[~mask]

In [12]:
data['FTR'] = data['FTR'].map({'H':0,'D':1,'A':2})

In [13]:
#adding .values for the neural network
X=data.drop("FTR", axis=1).values
Y=data["FTR"].values

In [14]:
X.shape

(15717, 5)

In [15]:
Y.shape

(15717,)

In [16]:
from sklearn.preprocessing import StandardScaler
# Scale data to have mean 0 and variance 1 
# which is importance for convergence of the neural network
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [17]:
# Split the data to train and test dataset.
import sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.1)

In [18]:
import torch
import torch.nn.functional as F
import torch.nn as nn
from torch.autograd import Variable

In [19]:
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [20]:

class NeuralNetworkClassificationModel(nn.Module):
    def __init__(self,input_dim,output_dim):
        super(NeuralNetworkClassificationModel,self).__init__()
        self.input_layer    = nn.Linear(input_dim,1024)
        self.hidden_layer1  = nn.Linear(1024,512)
        self.hidden_layer2  = nn.Linear(512,256)
        self.hidden_layer3  = nn.Linear(256,16)
        self.output_layer   = nn.Linear(16,output_dim)
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(0.3)  # Add this line
        self.softmax = nn.Softmax(dim=1)
    
    def forward(self,x):
        out =  self.dropout(self.relu(self.input_layer(x)))
        out =  self.dropout(self.relu(self.hidden_layer1(out)))
        out =  self.dropout(self.relu(self.hidden_layer2(out)))
        out =  self.dropout(self.relu(self.hidden_layer3(out)))
        out =  self.output_layer(out)
        out =  self.softmax(out)
        return out

In [21]:
input_dim  = 5
output_dim = 3
model = NeuralNetworkClassificationModel(input_dim,output_dim)

In [22]:
from torch.utils.data import TensorDataset, DataLoader

# Define batch size.
batch_size =1000

# Create Tensor datasets.
train_data = TensorDataset(X_train, y_train)
test_data = TensorDataset(X_test, y_test)

# Create DataLoaders.
dataloader_train = DataLoader(train_data, shuffle=True, batch_size=batch_size)
dataloader_test = DataLoader(test_data, shuffle=True, batch_size=batch_size)

In [23]:
learning_rate = 1e-3
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(),lr=learning_rate)

In [24]:
#hyperparameters to consider ; momentum=int, nesterov=boolean,decay_rate=(int) learning_rate/epochs -->these are in the optimizer field
#adding batch size in training
train_losses = []
test_losses = []

In [25]:
def train_network(model, optimizer, criterion, dataloader_train, dataloader_test, num_epochs, train_losses, test_losses):
    for epoch in range(num_epochs):
        # Training
        model.train()
        for X_train, y_train in dataloader_train:
            # Clear out the gradients from the last step (loss.backward()).
            optimizer.zero_grad()

            # Forward feed.
            output_train = model(X_train)

            # Calculate the loss.
            loss_train = criterion(output_train, y_train)

            # Backward propagation: calculate gradients.
            loss_train.backward()

            # Update the weights.
            optimizer.step()

            # Record the loss.
            import numpy as np

            # Record the loss.
            train_losses = np.append(train_losses, loss_train.item())


        # Evaluation
        model.eval()
        with torch.no_grad():
            for X_test, y_test in dataloader_test:
                output_test = model(X_test)
                loss_test = criterion(output_test, y_test)

                # Record the loss.
                test_losses = np.append(loss_test, loss_test.item())

        if (epoch + 1) % 50 == 0:
            print(f"Epoch {epoch+1}/{num_epochs}, Train Loss: {np.mean(train_losses):.7f}, Test Loss: {np.mean(test_losses):.7f}")

    return train_losses, test_losses

In [26]:
num_epochs = 1000

In [27]:
train_network(model, optimizer, criterion, dataloader_train, dataloader_test, num_epochs, train_losses, test_losses)

Epoch 50/1000, Train Loss: 0.5617177, Test Loss: 0.5514446
Epoch 100/1000, Train Loss: 0.5575792, Test Loss: 0.5514446
Epoch 150/1000, Train Loss: 0.5561313, Test Loss: 0.5514446
Epoch 200/1000, Train Loss: 0.5553834, Test Loss: 0.5514446
Epoch 250/1000, Train Loss: 0.5547386, Test Loss: 0.5531929
Epoch 300/1000, Train Loss: 0.5543492, Test Loss: 0.5514446
Epoch 350/1000, Train Loss: 0.5540459, Test Loss: 0.5514446
Epoch 400/1000, Train Loss: 0.5537977, Test Loss: 0.5514446
Epoch 450/1000, Train Loss: 0.5536191, Test Loss: 0.5514446
Epoch 500/1000, Train Loss: 0.5534606, Test Loss: 0.5514446
Epoch 550/1000, Train Loss: 0.5533438, Test Loss: 0.5514446
Epoch 600/1000, Train Loss: 0.5532631, Test Loss: 0.5514446
Epoch 650/1000, Train Loss: 0.5531834, Test Loss: 0.5514446
Epoch 700/1000, Train Loss: 0.5531017, Test Loss: 0.5514446
Epoch 750/1000, Train Loss: 0.5530464, Test Loss: 0.5514446
Epoch 800/1000, Train Loss: 0.5529808, Test Loss: 0.5514446
Epoch 850/1000, Train Loss: 0.5529429, Test Loss: 0.5514446
Epoch 900/1000, Train Loss: 0.5528950, Test Loss: 0.5514446
Epoch 950/1000, Train Loss: 0.5528452, Test Loss: 0.5514446
Epoch 1000/1000, Train Loss: 0.5528098, Test Loss: 0.5514446

(array([1.08438957, 1.07103634, 1.0364784 , ..., 0.55250669, 0.55145693,
        0.55163139]),
 array([0.55144465, 0.55144465]))

In [28]:
predictions_train = []
predictions_test =  []
with torch.no_grad():
    predictions_train = model(X_train)
    predictions_test = model(X_test)

In [29]:
def get_accuracy_multiclass(pred_arr,original_arr):
    if len(pred_arr)!=len(original_arr):
        return False
    pred_arr = pred_arr.numpy()
    original_arr = original_arr.numpy()
    final_pred= []
    # we will get something like this in the pred_arr [32.1680,12.9350,-58.4877]
    # so will be taking the index of that argument which has the highest value here 32.1680 which corresponds to 0th index
    for i in range(len(pred_arr)):
        final_pred.append(np.argmax(pred_arr[i]))
    final_pred = np.array(final_pred)
    count = 0
    #here we are doing a simple comparison between the predicted_arr and the original_arr to get the final accuracy
    for i in range(len(original_arr)):
        if final_pred[i] == original_arr[i]:
            count+=1
    return count/len(final_pred)

In [30]:
train_acc = get_accuracy_multiclass(predictions_train,y_train)
test_acc  = get_accuracy_multiclass(predictions_test,y_test)

In [31]:
print(f"Training Accuracy: {train_acc}")
print(f"Test Accuracy: {test_acc}")

Training Accuracy: 1.0
Test Accuracy: 1.0

In [32]:
#["FTHG","FTAG","HTHG","HTAG","Form","B365H","B365D","B365A"]
X_new = np.array([[1.08,1.08,1.00,1.60,2.54,3.30,2.96]])
X_net = torch.FloatTensor(X_new)

In [33]:
from sklearn import preprocessing


torch.manual_seed(42)
# During inference or evaluation, apply softmax to obtain class probabilities
model.eval()
with torch.no_grad():
    prediction = model(X_net)

  # prediction = preprocessing.scale(prediction)

    print("Prediction of Games: {}".format(prediction))


# Assuming prediction is a 1D tensor with 3 elements
prediction_np = prediction.numpy().flatten()

# Calculate the differences
diff_12 = prediction_np[1] - prediction_np[0]
diff_23 = prediction_np[2] - prediction_np[1]
diff_31 = prediction_np[0] - prediction_np[2]

# Find the maximum and minimum
max_val = np.max(prediction_np)
min_val = np.min(prediction_np)

# Create a DataFrame
df = pd.DataFrame({
    'Difference 1-2': [diff_12],
    'Difference 2-3': [diff_23],
    'Difference 3-1': [diff_31],
    'Maximum': [max_val],
    'Minimum': [min_val]
})

print(df)

RuntimeError: mat1 and mat2 shapes cannot be multiplied (1x7 and 5x1024)

In [ ]:
#import pickle

# Create Pickle file from the Neural network Model
#with open('neuralnet.pickle', 'wb') as dump_var:
 #   pickle.dump(data, dump_var)

In [ ]:
#pickle.dump(model, open('model.pkl', 'wb'))

In [ ]:
#pickled_model = pickle.load(open('model.pkl', 'rb'))
#pickled_model(X_net)