In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
#load the team related datasets into the notebook and save them as dataframes
def country_df(csv):
  df = pd.read_csv(csv)
  df.sort_values('HomeTeam', inplace=True)
  df.reset_index(inplace=True)
  df.drop("index", axis =1 , inplace=True)

  return df

df_france = country_df('FootballData/F1.csv')
df_spain  = country_df('FootballData/SP1.csv')
df_england  = country_df('FootballData/E0.csv')
df_championship  = country_df('FootballData/E1.csv')
#df_finland  = country_df('/content/drive/MyDrive/FootballData/FIN.csv')
#df_germany = country_df('FootballData/D1.csv')
df_england_22 = country_df('FootballData/E0_22.csv')
df_spa_22 = country_df('FootballData/SP1_22.csv')
#df_jpn = country_df('FootballData/JPN.csv')
df_ita = country_df('FootballData/I1.csv')
df_E1 = country_df('FootballData/E1.csv')
df_E2 = country_df('FootballData/E2.csv')
df_E3 = country_df('FootballData/E3.csv')
df_EC = country_df('FootballData/EC.csv')
df_F2 = country_df('FootballData/F2.csv')
df_I2 = country_df('FootballData/I2.csv')
df_dataE0 = country_df('FootballData/data (9)/E0.csv')
df_dataE1 = country_df('FootballData/data (9)/E1.csv')
df_dataE2 = country_df('FootballData/data (9)/E2.csv')
df_dataE3 = country_df('FootballData/data (9)/E3.csv')
df_dataEC = country_df('FootballData/data (9)/EC.csv')
df_dataF2 = country_df('FootballData/data (9)/F2.csv')
df_dataG1 = country_df('FootballData/data (9)/G1.csv')
df_dataN1 = country_df('FootballData/data (9)/N1.csv')
df_dataP1 = country_df('FootballData/data (9)/P1.csv')
df_dataSC0 = country_df('FootballData/data (9)/SC0.csv')
df_dataSC1 = country_df('FootballData/data (9)/SC1.csv')
df_dataSC2 = country_df('FootballData/data (9)/SC2.csv')
df_dataSC3 = country_df('FootballData/data (9)/SC3.csv')
df_dataSP2 = country_df('FootballData/data (9)/SP2.csv')
df_dataSP1 = country_df('FootballData/data (9)/SP1.csv')
df_dataT1 = country_df('FootballData/data (9)/T1.csv')

df_data8E0 = country_df('FootballData/data (8)/E0.csv')
df_data8E1 = country_df('FootballData/data (8)/E1.csv')
df_data8E2 = country_df('FootballData/data (8)/E2.csv')
df_data8E3 = country_df('FootballData/data (8)/E3.csv')
df_data8EC = country_df('FootballData/data (8)/EC.csv')
#df_data8F2 = country_df('FootballData/data (8)/F2.csv')
df_data8G1 = country_df('FootballData/data (8)/G1.csv')
#df_data8N1 = country_df('FootballData/data (8)/N1.csv')
#df_data8P1 = country_df('FootballData/data (8)/P1.csv')
df_data8SC0 = country_df('FootballData/data (8)/SC0.csv')
df_data8SC1 = country_df('FootballData/data (8)/SC1.csv')
df_data8SC2 = country_df('FootballData/data (8)/SC2.csv')
df_data8SC3 = country_df('FootballData/data (8)/SC3.csv')
#df_data8SP2 = country_df('FootballData/data (8)/SP2.csv')
df_data8SP1 = country_df('FootballData/data (8)/SP1.csv')
df_data8T1 = country_df('FootballData/data (8)/T1.csv')
df_B1 = country_df('FootballData/B1.csv')



data = pd.concat([df_france, df_spain, df_england, df_championship, df_england_22, df_spa_22, df_ita,df_E1,df_E2,df_E3,df_EC,df_F2,df_I2,df_dataE0,df_dataE1,df_dataE2,df_dataE3,df_dataEC,df_dataF2,df_dataG1,df_dataN1,df_dataP1,df_dataSC0,df_dataSC1,df_dataSC2,df_dataSC3,df_dataSP1,df_dataSP2,df_dataT1,
                  df_data8E0,df_data8E1,df_data8E2,df_data8E3,df_data8EC,df_data8G1,df_data8SC0,df_data8SC1,df_data8SC2,df_data8SC3,df_data8SP1,df_data8T1], sort = False)

In [21]:
data.shape

(15744, 139)

In [22]:
data.isna().sum()

Div             0
Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
            ...
AvgCAHH     14984
AvgCAHA     14984
BSH          5823
BSD          5823
BSA          5823
Length: 139, dtype: int64

In [23]:
data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BSH,BSD,BSA
0,F1,04/03/06,Ajaccio,Lyon,1,3,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,18/03/06,Ajaccio,Monaco,1,0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F1,08/04/06,Ajaccio,Toulouse,1,0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,20/08/05,Ajaccio,Le Mans,0,0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,13/05/06,Ajaccio,St Etienne,3,1,H,3.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HY,AY,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BSH,BSD,BSA
count,15744.000000,15744.000000,15743.000000,15743.000000,11327.000000,11327.000000,11327.000000,11327.000000,11342.000000,11342.000000,...,759.000000,760.000000,760.000000,760.000000,760.000000,760.000000,760.000000,9921.000000,9921.000000,9921.000000
mean,1.437500,1.100356,0.643079,0.479896,12.011654,9.577911,5.742827,4.544010,1.448774,1.818815,...,1.957036,1.962368,1.967145,2.021408,2.027342,1.936118,1.940961,2.287810,3.413472,3.787174
std,1.219339,1.066113,0.803825,0.689384,4.622596,4.110183,2.974402,2.615035,1.250896,1.364154,...,0.099912,0.104936,0.104870,0.104814,0.109980,0.094286,0.093737,0.989092,0.486010,2.086802
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.580000,1.710000,1.610000,1.810000,1.650000,1.730000,1.600000,1.080000,2.620000,1.050000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,7.000000,4.000000,3.000000,0.000000,1.000000,...,1.880000,1.880000,1.880000,1.940000,1.940000,1.860000,1.860000,1.730000,3.250000,2.600000
50%,1.000000,1.000000,0.000000,0.000000,12.000000,9.000000,5.000000,4.000000,1.000000,2.000000,...,1.960000,1.960000,1.960000,2.015000,2.020000,1.935000,1.940000,2.100000,3.250000,3.200000
75%,2.000000,2.000000,1.000000,1.000000,15.000000,12.000000,7.000000,6.000000,2.000000,3.000000,...,2.040000,2.040000,2.050000,2.102500,2.110000,2.010000,2.020000,2.500000,3.500000,4.330000
max,9.000000,9.000000,6.000000,5.000000,44.000000,33.000000,24.000000,18.000000,8.000000,9.000000,...,2.200000,2.480000,2.270000,2.520000,2.310000,2.420000,2.200000,23.000000,9.000000,23.000000

In [25]:
data = data[["FTHG","FTAG","FTR","HTHG","HTAG","B365H","B365D","B365A"]]

In [26]:
data.shape

(15744, 8)

In [27]:
data.loc[data.isnull().any(axis=1)]

     FTHG  FTAG FTR  HTHG  HTAG  B365H  B365D  B365A
62      2     1   H   2.0   0.0    NaN    NaN    NaN
264     4     0   H   2.0   0.0    NaN    NaN    NaN
139     1     0   H   0.0   0.0    NaN    NaN    NaN
84      2     2   D   0.0   1.0    NaN    NaN    NaN
346     1     2   A   1.0   1.0    NaN    NaN    NaN
384     2     1   H   0.0   1.0    NaN    NaN    NaN
5       4     0   H   3.0   0.0    NaN    NaN    NaN
34      0     0   D   0.0   0.0    NaN    NaN    NaN
96      4     2   H   3.0   2.0    NaN    NaN    NaN
119     3     0   H   1.0   0.0    NaN    NaN    NaN
218     1     0   H   1.0   0.0    NaN    NaN    NaN
294     1     0   H   0.0   0.0    NaN    NaN    NaN
461     1     2   A   1.0   1.0    NaN    NaN    NaN
462     0     3   A   0.0   0.0    NaN    NaN    NaN
464     0     2   A   0.0   2.0    NaN    NaN    NaN
476     0     4   A   0.0   1.0    NaN    NaN    NaN
478     0     5   A   0.0   3.0    NaN    NaN    NaN
479     0     2   A   0.0   0.0    NaN    NaN    NaN
481     1     1   D   1.0   0.0    NaN    NaN    NaN
507     2     0   H   2.0   0.0    NaN    NaN    NaN
546     2     0   H   1.0   0.0    NaN    NaN    NaN
195     1     3   A   1.0   2.0    NaN    NaN    NaN
197     2     1   H   0.0   1.0    NaN    NaN    NaN
212     1     1   D   0.0   0.0    NaN    NaN    NaN
203     3     0   H   2.0   0.0    NaN    NaN    NaN
218     2     0   H   0.0   0.0    NaN    NaN    NaN
239     1     1   D   1.0   0.0    NaN    NaN    NaN
293     0     3   A   NaN   NaN    1.6    3.5    6.5

In [28]:
# Create a boolean mask for rows with NaN values
mask = data.isnull().any(axis=1)

# Delete rows using the mask
data = data[~mask]

In [29]:
data['FTR'] = data['FTR'].map({'H':0,'D':1,'A':2})

In [30]:
#adding .values for the neural network
X=data.drop("FTR", axis=1)
Y=data["FTR"]

In [31]:
X.shape

(15716, 7)

In [32]:
Y.shape

(15716,)

In [33]:
from sklearn.preprocessing import StandardScaler
# Scale data to have mean 0 and variance 1 
# which is importance for convergence of the neural network
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [34]:
# Split the data to train and test dataset.
import sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

In [35]:
X_train.dtypes

FTHG       int64
FTAG       int64
HTHG     float64
HTAG     float64
B365H    float64
B365D    float64
B365A    float64
dtype: object

In [36]:
from torch.utils.data import TensorDataset, DataLoader

# Define batch size.
batch_size = 96

# Create Tensor datasets.
train_data = TensorDataset(X_train, y_train)
test_data = TensorDataset(X_test, y_test)

# Create DataLoaders.
dataloader_train = DataLoader(train_data, shuffle=True, batch_size=batch_size)
dataloader_test = DataLoader(test_data, shuffle=True, batch_size=batch_size)

TypeError: 'int' object is not callable

In [ ]:
import xgboost as xgb
import numpy as np

# Convert PyTorch Tensor to numpy array
X_train_np = X_train.numpy()
y_train_np = y_train.numpy()

# Create XGBoost specific DMatrix data format
dtrain = xgb.DMatrix(X_train_np, label=y_train_np)

# Define parameters
param = {
    'max_depth': 3,  # the maximum depth of each tree
    'eta': 0.3,  # the training step for each iteration
    'silent': 1,  # logging mode - quiet
    'objective': 'multi:softprob',  # error evaluation for multiclass training
    'num_class': 3}  # the number

num_round = 20  # the number of training iterations

# Train XGBoost model
bst = xgb.train(param, dtrain, num_round)

# You can also use the test dataset for prediction
X_test_np = X_test.numpy()
dtest = xgb.DMatrix(X_test_np)
preds = bst.predict(dtest)

In [ ]:
preds[:5]

In [ ]:
'''
Selecting the column that represents the highest probability 
(note that, for each line, there is 3 columns, indicating the probability for each class)
'''

import numpy as np

best_preds = np.asarray([np.argmax(line) for line in preds])

In [ ]:
best_preds

In [ ]:
#calculating the precision

from sklearn.metrics import precision_score

print(precision_score(y_test, best_preds, average='macro'))

In [ ]:
X_new = pd.DataFrame({
    'FTHG': [0.73],
    'FTAG': [1.25],
    'HTHG': [1.27],
    'HTAG': [1.75],
    'B365H': [2.24],
    'B365D': [3.33],
    'B365A': [3.45]
})
X_new_dmatrix = xgb.DMatrix(X_new)

In [ ]:
#Prediction of the species from the input vector
prediction = bst.predict(X_new_dmatrix)
print("Prediction of Games: {}".format(prediction))